span{
    font-style: italic;
    font-weight: bold;
    font-size: 2px;
    line-height: 1em;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
/* font-family: 'Playfair Display', serif; */
font-family: 'Roboto Condensed', sans-serif;
}